*{
    padding: 0px;
    margin: 0px;

}
body{
    background-color: rgb(206, 219, 23);
    color:rgb(218, 40, 40);

}
section{
    background-image: url(../images/car.jpg);
    height:100vh;
    background-repeat:space;
    background-size:contain;
    background-position:center;

}
#h12{
    background-color:rgba(0,0,0,0.5);
    text-align:center;
    font-size:2rem;
    
}
