*{
    padding: 0;
    margin:0;
}
.container{
    height:300px;
    display:flex;
    flex-direction:row;
    align-content: space-around;
    align-items:center;
    flex-wrap:wrap-reverse;
    justify-contenet:space-between;
    border:1px sloid black;
}