*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-color:black;
    color:white;
}
div{
    height:100px;
    width: 100px;
    background-color:blueviolet;
    margin-bottom: 2px;
}
.red
{
    height: 200px;
    width: 200px;
    background-color: orange;
    background-size: cover;
    background-image: url(../images/car.jpg);
}
#black{
    background-color:yellow;
}
.white
{
    height: 200px;
    width: 200px;
    background-color: rgb(79, 241, 141);
    background-size: cover;
    background-image:url(../images/flower.jpg)
}
#ne{
    background-color:rgb(185, 35, 199);
}
.blue
{
    height: 200px;
    width: 200px;
    background-color: rgb(75, 191, 226);
    background-size: cover;
     background-image: url(../images/car.jpg);
}
#new{
    background-color:rgb(230, 159, 28);
}
.aqua
{
    height: 200px;
    width: 200px;
    background-color: rgb(235, 57, 116);
    background-size: cover;
     background-image: url(../images/flower.jpg);
}
#neww{
    background-color:rgb(214, 97, 19);
}