 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
}

.view2{
    min-height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: aqua;  
}

.purple{
    background-color: blueviolet;
}
.dakblue{
    background-color: blue;
    
}
 .height100{
    height: 100px;
} 

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}



nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #fff;
    z-index: 2;
    background-color: #000;
    color: #fff;
}



.view3 {
   height: 100vh;
   width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    border: 1px solid #000;
    
    padding: 2rem;
}

.view3 form label {
    color: #000;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.view3 form input {
    width: 100%;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

.view3 form button {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    font-size: 1.25rem;
    padding: 0.75rem;
    border-radius: 10px;
} 
 