*
{
    margin:0;
    padding:0;
}
.navbar img{
    width: 70px;
    height: 70px;
    border-radius:60%;
}
.card img
{
    width:100%;
    height: 200px;
    
}
.card img : hover
{
    width: 100%;
    transition: 0.8s;
}

.container1 img{
    margin: 5px;
    padding:1px;
    width: 300px;
    height: 300px;
   
}
.container2 img{
    border-radius:70% 70% 70% 70%;
 }
.container2 img : hover
{
       transition: 0.5s;
}
#div1{
    text-align: center;
}
#div2{
    text-align: center;
}
#div3{
    text-align: center;
}

footer{
    background-color: rgb(209, 206, 203);
}