*{
    padding:0;
    margin:0;
}
header{
    display: flex;
    background-color: rgb(216, 224, 197);
    justify-content: space-between;
    padding: 5px;
    text-align: center;
    
}
#title{
    display:flex;

}
#title img{
    border-radius:50%;
    width:50px;
    height:50px;
    transition: 5s;
}
#title h1{
    font-size:16px;
    margin-top:15px;
    margin-left:10px;
}
nav ul{
    margin-right:20px;
    margin-top:10px;
}
nav ul li{
    display: inline;
    margin:5px;
    
}

   

nav a{
    text-decoration: wavy;
    color:rgb(14, 99, 70);
    padding:2px;
   
}
nav a:hover{
    background-color:rgb(205, 224, 182);
    color:rgb(231, 173, 173);
    border-radius:2px;
}

#home{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image:url("../images/houses.webp");
    background-repeat:no repeat;
    background-size:cover;
    font-size:2rem;
}
#block{   
    position: relative; 
    animation-name: mov;
    animation-duration:2s;
    animation-timing-function:ease-in-out;
    animation-delay: 0s;
}
@keyframes mov{
    0%{
        left:100vw;

    }
  
        100%{
           left: 0;
        }
}

}
#home div{
    background-color: rgb(175, 171, 165);
    padding:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#home span{
    background-color:rgb(201, 132, 47);
    font-size:1rem;
    padding:2px;
    box-shadow:2px 2px 2px;
}
 #home code{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contact{
    height:100vh;
    background-color: azure;
}
#about{
    height:100vh;
    width:500px;
    background-color: aquamarine;
    color: red;
}