*{
    padding:0;
    margin:0;
    }
    header{
        display:flex;
        justify-content: space-between;
        align-items:center;
        background-color:rgb(145,140,253);

    }
    .now{
        color:red;
    }
    .noww{
        margin:2px;
        padding:5px;
        color:blue;
    }
    header .head{
        display:flex;
        align-items: center;
    }
    header .head img{
        border-radius: 50%;
            }
            ul{
                list-style:none;

            }
            header li{
                display:inline;
                margin:2px;
                padding:2px;
            }
            .card img{
                width:100%;
            }
            .container{
                display:flex;

            }
         

               
            .card{
                background-color: rgb(235, 172, 36);
                color:white;
                text-align:center;
                box-shadow:2px 2px 4px black;
                margin:10px;
                width:500px;
            }
            footer{
                background-color:rgb(140,140,253);
            }