*{
    margin: 0;
    padding:0%;
   
}
ul{
    margin :0;
    padding:0.9rem;
    background-color:rgb(230, 118, 132);
    text-align:right;
    color:aliceblue
}
li{
    display:inline;
    height:100px;
    margin:0.8rem;
    }
    li a{
        text-decoration:none;
        color:aliceblue;
        }
        li a:hover,li a:focus
        {
            text-decoration:underline;
            color:rgb(252,171,171);

        }
        .box{
            width:150px;
            height:150px;
            background-color:rgb(219, 118, 194);
            background-image: url(../imgaes\car.jpg);
            margin:5px;
            display:inline-table;
            /*display:inline-flex;*/
            /*display:inline-block;*/
            /*display:inline;*/
            
        }